<!-- <h4>courses</h4>

<div class="d-flex">
  <div class="" *ngFor="let one of courses" >

      <div class="card" style="width: 18rem;">
        <div *ngFor="let item of image">

        <img  src="{{item}}" class="card-img-top" alt="...">
      </div>

        <div class="card-body">
          <h5 class="card-title">{{one}}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>

</div>
</div>

   -->


   <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">python</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="'/courses/1'" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">php</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="'/courses/2'" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">angular</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="'/courses/3'" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>