<!-- <p>home works!</p>

<div *ngIf = 'isAuthenticated; then h1 else h2'>
</div>

    <ng-template #h1>
        hello world
    </ng-template>

    <ng-template #h2>
        second content
    </ng-template>


    <table class="table table-primary">

        <tr>

            <th>Name</th>
            <th>email</th>
            <th>phone</th>
            <th>class</th>
            <th>division</th>

        </tr>

        <tr *ngFor = 'let s of students'>
            <td>{{s.studentName}}</td>
            <td>{{s.email}}</td>
            <td>{{s.phone}}</td>
            <td>{{s.class}}</td>
            <td>{{s.division}}</td>
        </tr>

    </table>
    <button class="btn btn-primary">cli</button>

    <div [ngSwitch] = 'color'>
        <p style="color: green;" *ngSwitchCase = "'green'">green</p>
        <p style="color: blue;" *ngSwitchCase = "'blue'">blue</p>
        <p style="color: yellow;" *ngSwitchCase = "'yellow'">green</p>
        <p style="color: red;" *ngSwitchCase = "'red'">red</p>
        <p *ngSwitchDefault>no color</p>
    </div>


    <table >
        <tr >
            <td [attr.colspan]=2>lorem</td>
        </tr>
        <tr>
            <td>abnd</td>
            <td>sdf</td>
        </tr>
    </table>

    <button class="btn btn" [disabled] = isHidden>click</button> -->

<!-- ======== -->


<!-- 

<p>home works..</p>

<div [style.background-color]="isFailed?'red':'yellow'">
    hello
</div>

<div [ngStyle]="{'background-color':'blue','color':'red'}">
    haii
</div>


<div [ngClass]="new?'div1':'div2'">
    new
</div>

<p>hello {{username}}</p>

<p [class.cls]="style" #para>new para</p>

<button (click)="clickMe(para)">click</button> -->

<!-- <h1>hello</h1> -->



<!-- <form #form=ngForm (ngSubmit)="submit(form)">

    <input type="text" placeholder="username" ngModel="username" 
    name="username" #username = ngModel required >
    <span *ngIf="form.touched && username.errors?.['required']">please enter name</span>
    <br><br>
    <input type="password" placeholder="password" ngModel="password"
     
    name="password" #password  required>
    <div>
        <span></span>
    </div>

    <br><br>
    <button type="submit" [disabled]="form.invalid">Submit</button>
    {{form.value}}
</form>  -->





<!-- <form #form=ngForm (ngSubmit)="submit(form)">

    <input type="text" placeholder="username" [(ngModel)]="username" 
    name="Uusername" #usrname ="ngModel" required >
    <span *ngIf="form.touched && usrname.errors?.['required']">please enter name</span>
    <br><br>
    <input type="password" placeholder="password" [(ngModel)]="password"
     
    name="password" #paswd ="ngModel"  required>
    <div>
        <span></span>
    </div>

    <br><br>
    <button type="submit" [disabled]="form.invalid">Submit</button>
    {{form.value}}
</form>  -->



<!-- 
<form [formGroup]="userform" (ngSubmit)="submit()">

    <input type="text" placeholder="username" [(ngModel)]="username" 
    name="username"  required formControlName="uname">
                                      <span *ngIf="form.touched && usrname.errors?.['required']">please enter name</span>
    <br><br>
    <input type="password" placeholder="password" [(ngModel)]="password"
    name="password"  required formControlName="password">
    <div>
                                   <span *ngIf="form.touched && paswd.errors?.['required']">please enter password</span>
    </div>

    <br><br>
    <button type="submit">Submit</button>
                                   {{form.value}} 
</form> 
 -->




 <!-- reactive -->

 
<form [formGroup] = "userform" (ngSubmit)="login() ">

    <input type="text" placeholder="username" formControlName="uname" 
    name="username"  required >
    <span *ngIf="uname!.errors?.['required']">required</span>


    <br><br>
    <input type="password" placeholder="password" formControlName="password"
     
    name="password"  required>
    <div>
        <span *ngIf="Password?.errors?.['containSpace'] && Password?.touched">erroe</span>
    </div>

    <br><br>

    <button type="submit">submit</button>
    <span *ngIf="form.errors?.['invalidLogin']">
        adminstrator login prohibited
    </span>
</form> 




